<h1 class="title">Add new location</h1>

<app-map></app-map>

<div class="card">
  <div class="card-content">
    <div class="content">
      <table>
        <tr>
          <td>⌚️ <b>Time</b></td>
          <td>2th Feb 2022, 13:00h</td>
        </tr>
        <tr>
          <td>🧭 <b>Heading</b></td>
          <td>North</td>
        </tr>
        <tr>
          <td>🌤 <b>Weather</b></td>
          <td>Clear sky, 23°C</td>
        </tr>
        <tr>
          <td>♻️ <b>Return</b></td>
          <td>
            <div class="select">
              <select>
                <option>- no preference -</option>
                <option>Morning</option>
                <option>Midday</option>
                <option>Afternoon</option>
                <option>Evening</option>
                <option>Night</option>
              </select>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<button class="button is-fullwidth is-info">Save</button>
