<h1 class="subtitle is-3">Add new location</h1>

<app-map [location]="location$ | async"></app-map>

<div class="card">
  <div class="card-content">
    <div class="content">
      <table>
        <tr>
          <td>⌚️ <b>Time</b></td>
          <td>{{ displayDate((location$ | async)?.timestamp) }}</td>
        </tr>
        <tr>
          <td>🧭 <b>Heading</b></td>
          <td>{{ displayHeading((location$ | async)?.coords?.heading) }}</td>
        </tr>
        <tr>
          <td>🌤 <b>Weather</b></td>
          <td>{{ displazWeather(weather$ | async) }}</td>
        </tr>
      </table>

      <button class="button is-fullwidth is-info">Save</button>
    </div>
  </div>
</div>