<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="buttons">
        <a routerLink="/" routerLinkActive="active" class="button is-white">
          <span class="icon">
            <i class="fas fa-arrow-left fa-2x"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a routerLink="/add-new-location" routerLinkActive="active" class="button is-primary">
            <strong>Add new location</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <router-outlet></router-outlet>
</section>